@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Barbershop app</h1>
</div>

<div class="row">
    <div>
        <h2>Welcome to The Barbershop app</h2>
        <p>
            Barbershop is a sample application that
            demonstrates how Kevin Panko writes code.
        </p>
        <p>
            @Html.ActionLink("Click here", "Index", "Customers")
            to enter the application.
        </p>
    </div>
</div>